.video {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px 10%; }

.switchdemoBasicUsage .inset {
  padding-left: 25px;
  padding-top: 25px; }

body {
  display: flex;
  justify-content: center; }
