.vjs-skin-default {
  border: 0.5em solid #2B333F;
  font-size: 0.7em;
  color: #fff; }
  .vjs-skin-default * {
    outline: none; }
  .vjs-skin-default .vjs-control-bar {
    font-size: 1em;
    display: flex;
    /* IE8 - has no alpha support */
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.7); }
  .vjs-skin-default .vjs-menu-button .vjs-menu-content {
    /* IE8 - has no alpha support */
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.7); }
  .vjs-skin-default .vjs-progress-control .vjs-load-progress {
    background-color: #cccccc; }
  .vjs-skin-default .vjs-progress-control .vjs-slider {
    background-color: #ababab; }
    .vjs-skin-default .vjs-progress-control .vjs-slider-bar {
      background-color: white; }
  .vjs-skin-default .vjs-volume-level {
    background: #fff; }
  .vjs-skin-default .vjs-big-play-button {
    /* IE8 - has no alpha support */
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.7);
    font-size: 50px;
    line-height: 2em;
    height: 2em;
    width: 2em;
    border: 0em solid #fff;
    border-radius: 50%;
    box-shadow: -20px -10px 10px rgba(0, 0, 0, 0.3) inset, 10px 10px 10px rgba(0, 0, 0, 0.3);
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -1em;
    margin-top: -1em; }
  .vjs-skin-default:hover .vjs-has-started .vjs-control-bar {
    display: flex; }
  .vjs-skin-default:hover .vjs-big-play-button {
    /* IE8 - has no alpha support */
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.5);
    color: rgba(255, 255, 255, 0.5); }

div:not(.vjs-seeking):not(.vjs-waiting).video-js.vjs-paused.vjs-skin-default .vjs-big-play-button {
  display: block; }

div:not(.vjs-seeking):not(.vjs-waiting).video-js.vjs-paused.vjs-skin-default .vjs-control-bar {
  display: none; }

div:not(.vjs-seeking):not(.vjs-waiting).video-js.vjs-paused.vjs-skin-default .vjs-text-track-display {
  background: rgba(43, 51, 63, 0.5);
  height: 100%; }

.vjs-skin-youtube {
  border: 0em solid #2B333F;
  font-size: 0.7em;
  color: #fff; }
  .vjs-skin-youtube * {
    outline: none; }
  .vjs-skin-youtube .vjs-control-bar {
    font-size: 1em;
    display: flex;
    /* IE8 - has no alpha support */
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.7); }
    .vjs-skin-youtube .vjs-control-bar .vjs-progress-control {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: .5em;
      transform: translate(0, -100%); }
      .vjs-skin-youtube .vjs-control-bar .vjs-progress-control .vjs-progress-holder {
        margin: 0;
        font-size: 2em; }
        .vjs-skin-youtube .vjs-control-bar .vjs-progress-control .vjs-progress-holder .vjs-time-tooltip {
          font-size: 12px; }
        .vjs-skin-youtube .vjs-control-bar .vjs-progress-control .vjs-progress-holder:hover {
          height: .5em;
          transform: translate(0, -0.1em); }
      .vjs-skin-youtube .vjs-control-bar .vjs-progress-control .vjs-play-progress:before {
        display: none; }
    .vjs-skin-youtube .vjs-control-bar .vjs-custom-control-spacer {
      flex: 1 1 auto;
      display: flex; }
    .vjs-skin-youtube .vjs-control-bar .vjs-remaining-time {
      display: none; }
    .vjs-skin-youtube .vjs-control-bar .vjs-current-time {
      display: block;
      position: relative; }
    .vjs-skin-youtube .vjs-control-bar .vjs-time-divider {
      display: block;
      line-height: 3em; }
    .vjs-skin-youtube .vjs-control-bar .vjs-duration {
      display: block; }
  .vjs-skin-youtube:not(:hover) .vjs-control-bar {
    height: 0px;
    transition: all .5s;
    opacity: 1;
    bottom: 0em; }
    .vjs-skin-youtube:not(:hover) .vjs-control-bar .vjs-play-control,
    .vjs-skin-youtube:not(:hover) .vjs-control-bar .vjs-volume-panel,
    .vjs-skin-youtube:not(:hover) .vjs-control-bar .vjs-mute-control,
    .vjs-skin-youtube:not(:hover) .vjs-control-bar .vjs-remaining-time,
    .vjs-skin-youtube:not(:hover) .vjs-control-bar .vjs-playback-rate,
    .vjs-skin-youtube:not(:hover) .vjs-control-bar .vjs-current-time,
    .vjs-skin-youtube:not(:hover) .vjs-control-bar .vjs-time-control,
    .vjs-skin-youtube:not(:hover) .vjs-control-bar .vjs-duration,
    .vjs-skin-youtube:not(:hover) .vjs-control-bar .vjs-fullscreen-control {
      opacity: 0; }
  .vjs-skin-youtube .vjs-menu-button .vjs-menu-content {
    /* IE8 - has no alpha support */
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.7); }
  .vjs-skin-youtube .vjs-progress-control .vjs-load-progress {
    background-color: #990000; }
  .vjs-skin-youtube .vjs-progress-control .vjs-slider {
    background-color: #570000; }
    .vjs-skin-youtube .vjs-progress-control .vjs-slider-bar {
      background-color: red; }
  .vjs-skin-youtube .vjs-volume-level {
    background: #fff; }
  .vjs-skin-youtube .vjs-big-play-button {
    /* IE8 - has no alpha support */
    background-color: red;
    background-color: rgba(255, 0, 0, 0.7);
    font-size: 4em;
    line-height: 2em;
    height: 2em;
    width: 3em;
    border: 0em solid #fff;
    border-radius: 20%;
    /* Align center */
    left: 50%;
    top: 50%;
    margin-left: -1.5em;
    margin-top: -1em; }
  .vjs-skin-youtube:hover .vjs-has-started .vjs-control-bar {
    display: flex; }
  .vjs-skin-youtube:hover .vjs-big-play-button {
    /* IE8 - has no alpha support */
    background-color: #2B333F;
    background-color: rgba(43, 51, 63, 0.5);
    color: rgba(255, 255, 255, 0.5); }

div:not(.vjs-seeking):not(.vjs-waiting).video-js.vjs-paused.vjs-skin-youtube .vjs-big-play-button {
  display: block; }

div:not(.vjs-seeking):not(.vjs-waiting).video-js.vjs-paused.vjs-skin-youtube .vjs-control-bar {
  display: none; }

div:not(.vjs-seeking):not(.vjs-waiting).video-js.vjs-paused.vjs-skin-youtube .vjs-text-track-display {
  background: rgba(165, 42, 42, 0.5);
  height: 100%; }

.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-skin-youtube .vjs-control-bar {
  opacity: 1;
  pointer-events: none;
  transition: all .5s; }
