
.vjs-skin-#{$name-skin}{

  border:$vjs-border solid $vjs-border-color;
  font-size: $vjs-font-size;
  color: $vjs-color;

  & *{
    outline: none;
    
  }


  .vjs-control-bar{
    font-size: $control-bar-font_size;
    display: flex;
    @if $control-bar-background {
      /* IE8 - has no alpha support */
      background-color: $control-bar-background-color;
      background-color: rgba($control-bar-background-color, 0.7);
    } @else {
      background: none;
    }

    .vjs-progress-control{
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: .5em;
      top: -.4em;
      .vjs-progress-holder{
        margin:0;
      }

    }
    .vjs-custom-control-spacer{
      flex: 1 1 auto;
      display: flex;
    }

    .vjs-remaining-time{
      display: none;
    }
    .vjs-current-time{
      display: block;
      position: relative;

    }
    .vjs-time-divider {
      display: block;
      line-height: 3em;
    }

    .vjs-duration{
      display: block;
    }

  }

  .vjs-menu-button .vjs-menu-content{
    /* IE8 - has no alpha support */
    background-color: $primary-background-color;
    background-color: rgba($primary-background-color, 0.7);
  }
  .vjs-slider {
    background-color: $slider-bg-color;
    background-color: rgba($slider-bg-color, 0.6);
  }
  .vjs-volume-level,
  .vjs-play-progress{
    background: $primary-foreground-color;
    &:before{
      display:none;
    }
  }

  .vjs-load-progress {
    /* For IE8 we'll lighten the color */
    background: lighten($slider-bg-color, 25%);
    background: rgba($slider-bg-color, 0.5);

    div {
      /* For IE8 we'll lighten the color */
      background: lighten($slider-bg-color, 50%);
      /* Otherwise we'll rely on stacked opacities */
      background: rgba($slider-bg-color, 0.75);
    }
  }

  .vjs-big-play-button {

    /* IE8 - has no alpha support */
    background-color: $big-play-background;
    background-color: rgba($big-play-background, 0.7);
    font-size: $big-play-font_size;
    line-height: $big-play-height;
    height: $big-play-height;
    width: $big-play-width;
    border: $big-play-border solid $primary-foreground-color;
    border-radius: $big-play-border-radius;

    @if $big-play-button-shadow {
      box-shadow:
              -20px -10px 10px rgba(black, .3) inset,
              10px 10px 10px rgba(black, .3);
    }

    @if $big-play-button-center {
      /* Align center */
      left: 50%;
      top: 50%;
      margin-left: -($big-play-width / 2);
      margin-top: -($big-play-height / 2);
    } @else {
     
      left: 0.5em;
      top: 0.5em;
    }
  }

  
  &:not(:hover)  .vjs-control-bar{
    //display:none;
    height: .25em;
    bottom: -.25em;
    transition: all .5s;
  }






  &:hover{

    .vjs-has-started  .vjs-control-bar{
      display: flex;
    }

    .vjs-big-play-button{
      /* IE8 - has no alpha support */
      background-color: $big-play-background-hover;
      background-color: rgba($big-play-background-hover, 0.5);
      color:rgba($primary-foreground-color, .5);
      @if $big-play-button-animate {
        animation: button .2s forwards cubic-bezier(.22,-0.45,.9,1.68);
        @keyframes button {
          to {transform: scale(1.5);}
        }
      }


    };
  }

}


// Mostrar boton play principal al pausar
div:not(.vjs-seeking):not(.vjs-waiting).video-js.vjs-paused.vjs-skin-#{$name-skin} .vjs-big-play-button {
  display: block;
}

// Ocultar barra de opciones al pausar
div:not(.vjs-seeking):not(.vjs-waiting).video-js.vjs-paused.vjs-skin-#{$name-skin} .vjs-control-bar{
  display: none;
}

// Pantalla negra transparente al estar en pausa el video
div:not(.vjs-seeking):not(.vjs-waiting).video-js.vjs-paused.vjs-skin-#{$name-skin} .vjs-text-track-display {
  background: rgba($vjs-panell-pause-background, .5);
  height: 100%;
}


.vjs-has-started.vjs-user-inactive.vjs-playing.vjs-skin-#{$name-skin} .vjs-control-bar {
  height: .25em;
  bottom: -.25em;
  opacity: 1;
  pointer-events: none;
  transition: all .5s;

}