.video{
  display: flex;
  flex-direction: column;
  //justify-content: center;
  width: 100%;
  padding: 20px 10%;
}
.switchdemoBasicUsage.inset {
  padding-left: 45px;
  padding-top: 45px;
  width: 100%;

}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0; }

body{
  display: flex;

  justify-content: center;
}