.video{
  display: flex;
  flex-direction: column;
  //justify-content: center;
  width: 100%;
  padding: 20px 20px;
}
.switchdemoBasicUsage.inset {
  padding-left: 45px;
  padding-top: 45px;
  width: 100%;

}

.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1; }
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white; }
.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0; }

body{
  display: flex;

  justify-content: center;
}


.icon{
  &-facebook:before {
    content: "\f082";
  }
  &-twitter:before {
    content: "\f081";
  }
}

/* CUSTOM BUTTONS */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-size: 20px 
}

.vjs-skin-default .vjs-button-social{
  height: 0;
  position: absolute;
  top:20px;
  right: 0;
  display:none;
  &:before{
    width: 30px;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    background: none;
    content: "\f115";
    font-family: VideoJS;
    transform: translate(-50%,-50%);
    position: absolute;

  }

  &:hover:before{
    color:black;
  }


}


.vjs-skin-default .vjs-menu-social{
  display: none;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top:0; right: 0;
  width: 100%;
  background: rgba(0,0,0,.8);
  height: 100%;
  font-size: 3em;
  &:not(.show) + .vjs-button-social:before{
    content: "\f10f";
    background: red;
  }
  &.show{
    display: flex;
  }

  span{
    position: relative;

    &:before {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%,-50%);
      background: gray;
      height: 2em;
      width: 2em;
      border-radius: 50%;
      //border: 8px solid gray;
      transition: border .3s;
    }

    &:hover:before{
      color:gray;
      background: #fff;
      cursor: pointer;
      //border:6px solid gray;
    }
  }
}

.vjs-resolution-button{

  &:before {
    content: "\f110";
    font-family: VideoJS;
    transform: translate(100%,100%);
    position: absolute;
  }

}