
@import "variables";

$name-skin:"1";
$vjs-border: 0em;
$big-play-background: black;
$vjs-panell-pause-background: gray;
$big-play-button-center: false;
$big-play-button-shadow: false;
$big-play-border-radius: 0%;

@import "default";
