
@import "variables";

$name-skin:"2";
$vjs-border: 1em;
$vjs-border-color: red;
$big-play-border: 0.05em;
$big-play-background: black;
$vjs-panell-pause-background: red;
$control-bar-background: true;
$control-bar-background-color: red;

@import "default";
