

@import "variables";

$name-skin:"youtube";
$vjs-border: 0em;

$vjs-panell-pause-background: brown;

$big-play-background: red;
$big-play-border-radius: 20%;
$big-play-font_size: 4em;
$big-play-width: 3em;
$big-play-height: 2em;
$big-play-button-shadow: false;
$slider-bg-color:blue;


@import "default";

