
@import "variables";

$name-skin:"facebook";
$vjs-border: 0em;

$big-play-background: black;
$big-play-border: 0.06em;
$vjs-panell-pause-background: red;
$big-play-width: 1.7em;
$big-play-height: 1.7em;
$big-play-font_size: 4em;
$big-play-border-radius: 20%;
$control-bar-font_size: 2em;
@import "default";

